/* src/components/NavBar.css */

.navbar-custom {
  background-color: white;
  border-bottom: 1px solid #ccc;
  position: relative;
  height: 60px;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.locale-switcher button {
  font-weight: bold;
}
